USE [sistema_alertas_desastres]
GO
/****** Object:  Table [dbo].[alertas]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alertas](
	[id_alerta] [int] IDENTITY(1,1) NOT NULL,
	[id_evento] [int] NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[tipo_canal] [nvarchar](50) NOT NULL,
	[destinatario] [nvarchar](255) NULL,
	[fecha_envio] [datetime] NULL,
	[entregado] [bit] NULL,
	[tiempo_entrega_segundos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventos]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventos](
	[id_evento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_evento] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[nivel_riesgo] [nvarchar](20) NOT NULL,
	[probabilidad] [decimal](5, 4) NULL,
	[ubicacion] [nvarchar](200) NULL,
	[latitud] [decimal](10, 8) NULL,
	[longitud] [decimal](11, 8) NULL,
	[fecha_deteccion] [datetime] NULL,
	[fecha_resolucion] [datetime] NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecturas_sensores]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecturas_sensores](
	[id_lectura] [int] IDENTITY(1,1) NOT NULL,
	[id_sensor] [int] NOT NULL,
	[valor] [decimal](10, 4) NOT NULL,
	[unidad_medida] [nvarchar](20) NULL,
	[fecha_lectura] [datetime] NULL,
	[integridad_datos] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lectura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs_acceso]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs_acceso](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[accion] [nvarchar](100) NOT NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[fecha_log] [datetime] NULL,
	[exito] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs_sistema]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs_sistema](
	[id_log_sistema] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [nvarchar](100) NOT NULL,
	[nivel] [nvarchar](20) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[fecha_log] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log_sistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sensores]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sensores](
	[id_sensor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[ubicacion] [nvarchar](200) NOT NULL,
	[tipo_sensor] [nvarchar](50) NOT NULL,
	[latitud] [decimal](10, 8) NULL,
	[longitud] [decimal](11, 8) NULL,
	[activo] [bit] NULL,
	[fecha_instalacion] [date] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sensor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
	[activo] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alertas] ADD  DEFAULT (getdate()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[alertas] ADD  DEFAULT ((0)) FOR [entregado]
GO
ALTER TABLE [dbo].[eventos] ADD  DEFAULT (getdate()) FOR [fecha_deteccion]
GO
ALTER TABLE [dbo].[eventos] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[lecturas_sensores] ADD  DEFAULT (getdate()) FOR [fecha_lectura]
GO
ALTER TABLE [dbo].[lecturas_sensores] ADD  DEFAULT ((1)) FOR [integridad_datos]
GO
ALTER TABLE [dbo].[logs_acceso] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[logs_acceso] ADD  DEFAULT ((1)) FOR [exito]
GO
ALTER TABLE [dbo].[logs_sistema] ADD  DEFAULT (getdate()) FOR [fecha_log]
GO
ALTER TABLE [dbo].[sensores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[sensores] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD FOREIGN KEY([id_evento])
REFERENCES [dbo].[eventos] ([id_evento])
GO
ALTER TABLE [dbo].[lecturas_sensores]  WITH CHECK ADD FOREIGN KEY([id_sensor])
REFERENCES [dbo].[sensores] ([id_sensor])
GO
ALTER TABLE [dbo].[logs_acceso]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[alertas]  WITH CHECK ADD CHECK  (([tipo_canal]='email' OR [tipo_canal]='app_movil' OR [tipo_canal]='SMS'))
GO
ALTER TABLE [dbo].[eventos]  WITH CHECK ADD CHECK  (([estado]='falso_positivo' OR [estado]='resuelto' OR [estado]='activo'))
GO
ALTER TABLE [dbo].[eventos]  WITH CHECK ADD CHECK  (([nivel_riesgo]='critico' OR [nivel_riesgo]='alto' OR [nivel_riesgo]='medio' OR [nivel_riesgo]='bajo'))
GO
ALTER TABLE [dbo].[logs_sistema]  WITH CHECK ADD CHECK  (([nivel]='CRITICAL' OR [nivel]='ERROR' OR [nivel]='WARNING' OR [nivel]='INFO'))
GO
ALTER TABLE [dbo].[sensores]  WITH CHECK ADD CHECK  (([tipo_sensor]='nivel_agua' OR [tipo_sensor]='temperatura' OR [tipo_sensor]='humedad' OR [tipo_sensor]='vibracion' OR [tipo_sensor]='precipitacion'))
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD CHECK  (([rol]='administrador' OR [rol]='autoridad' OR [rol]='tecnico' OR [rol]='ciudadano'))
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_alerta]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ACTUALIZAR ALERTA
CREATE PROCEDURE [dbo].[sp_actualizar_alerta]
    @id_alerta INT,
    @mensaje NVARCHAR(MAX),
    @tipo_canal NVARCHAR(50),
    @destinatario NVARCHAR(255),
    @entregado BIT,
    @tiempo_entrega_segundos INT
AS
BEGIN
    UPDATE alertas
    SET mensaje = @mensaje,
        tipo_canal = @tipo_canal,
        destinatario = @destinatario,
        entregado = @entregado,
        tiempo_entrega_segundos = @tiempo_entrega_segundos
    WHERE id_alerta = @id_alerta;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_evento]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ACTUALIZAR EVENTO
CREATE PROCEDURE [dbo].[sp_actualizar_evento]
    @id_evento INT,
    @tipo_evento NVARCHAR(100),
    @descripcion NVARCHAR(MAX),
    @nivel_riesgo NVARCHAR(20),
    @probabilidad DECIMAL(5,4),
    @ubicacion NVARCHAR(200),
    @latitud DECIMAL(10,8),
    @longitud DECIMAL(11,8),
    @estado NVARCHAR(20)
AS
BEGIN
    UPDATE eventos
    SET tipo_evento = @tipo_evento,
        descripcion = @descripcion,
        nivel_riesgo = @nivel_riesgo,
        probabilidad = @probabilidad,
        ubicacion = @ubicacion,
        latitud = @latitud,
        longitud = @longitud,
        estado = @estado,
        fecha_resolucion = CASE WHEN @estado = 'resuelto' THEN GETDATE() ELSE fecha_resolucion END
    WHERE id_evento = @id_evento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_sensor]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ACTUALIZAR SENSOR
CREATE PROCEDURE [dbo].[sp_actualizar_sensor]
    @id_sensor INT,
    @nombre NVARCHAR(100),
    @ubicacion NVARCHAR(200),
    @tipo_sensor NVARCHAR(50),
    @latitud DECIMAL(10,8),
    @longitud DECIMAL(11,8),
    @activo BIT
AS
BEGIN
    UPDATE sensores
    SET nombre = @nombre,
        ubicacion = @ubicacion,
        tipo_sensor = @tipo_sensor,
        latitud = @latitud,
        longitud = @longitud,
        activo = @activo
    WHERE id_sensor = @id_sensor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_usuario]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ACTUALIZAR USUARIO
CREATE PROCEDURE [dbo].[sp_actualizar_usuario]
    @id_usuario INT,
    @nombre NVARCHAR(100),
    @email NVARCHAR(150),
    @rol NVARCHAR(50),
    @activo BIT
AS
BEGIN
    UPDATE usuarios
    SET nombre = @nombre,
        email = @email,
        rol = @rol,
        activo = @activo,
        fecha_actualizacion = GETDATE()
    WHERE id_usuario = @id_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_alerta]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR ALERTA
CREATE PROCEDURE [dbo].[sp_eliminar_alerta]
    @id_alerta INT
AS
BEGIN
    DELETE FROM alertas WHERE id_alerta = @id_alerta;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_evento]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR EVENTO
CREATE PROCEDURE [dbo].[sp_eliminar_evento]
    @id_evento INT
AS
BEGIN
    DELETE FROM eventos WHERE id_evento = @id_evento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_sensor]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR SENSOR
CREATE PROCEDURE [dbo].[sp_eliminar_sensor]
    @id_sensor INT
AS
BEGIN
    DELETE FROM sensores WHERE id_sensor = @id_sensor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_usuario]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR USUARIO
CREATE PROCEDURE [dbo].[sp_eliminar_usuario]
    @id_usuario INT
AS
BEGIN
    DELETE FROM usuarios WHERE id_usuario = @id_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_alerta]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- INSERTAR ALERTA
CREATE PROCEDURE [dbo].[sp_insertar_alerta]
    @id_evento INT,
    @mensaje NVARCHAR(MAX),
    @tipo_canal NVARCHAR(50),
    @destinatario NVARCHAR(255),
    @tiempo_entrega_segundos INT
AS
BEGIN
    INSERT INTO alertas (id_evento, mensaje, tipo_canal, destinatario, tiempo_entrega_segundos)
    VALUES (@id_evento, @mensaje, @tipo_canal, @destinatario, @tiempo_entrega_segundos);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_evento]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- INSERTAR EVENTO
CREATE PROCEDURE [dbo].[sp_insertar_evento]
    @tipo_evento NVARCHAR(100),
    @descripcion NVARCHAR(MAX),
    @nivel_riesgo NVARCHAR(20),
    @probabilidad DECIMAL(5,4),
    @ubicacion NVARCHAR(200),
    @latitud DECIMAL(10,8),
    @longitud DECIMAL(11,8)
AS
BEGIN
    INSERT INTO eventos (tipo_evento, descripcion, nivel_riesgo, probabilidad, ubicacion, latitud, longitud)
    VALUES (@tipo_evento, @descripcion, @nivel_riesgo, @probabilidad, @ubicacion, @latitud, @longitud);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_lectura_sensor]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 🔹 INSERTAR LECTURA DE SENSOR
CREATE PROCEDURE [dbo].[sp_insertar_lectura_sensor]
    @id_sensor INT,
    @valor DECIMAL(10,4),
    @unidad_medida NVARCHAR(20),
    @integridad_datos BIT
AS
BEGIN
    INSERT INTO lecturas_sensores (id_sensor, valor, unidad_medida, integridad_datos)
    VALUES (@id_sensor, @valor, @unidad_medida, @integridad_datos);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_sensor]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- INSERTAR SENSOR
CREATE PROCEDURE [dbo].[sp_insertar_sensor]
    @nombre NVARCHAR(100),
    @ubicacion NVARCHAR(200),
    @tipo_sensor NVARCHAR(50),
    @latitud DECIMAL(10,8),
    @longitud DECIMAL(11,8),
    @fecha_instalacion DATE
AS
BEGIN
    INSERT INTO sensores (nombre, ubicacion, tipo_sensor, latitud, longitud, fecha_instalacion)
    VALUES (@nombre, @ubicacion, @tipo_sensor, @latitud, @longitud, @fecha_instalacion);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_usuario]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Store Procedure- Procedimientos almacenados
-- INSERTAR USUARIO
CREATE PROCEDURE [dbo].[sp_insertar_usuario]
    @nombre NVARCHAR(100),
    @email NVARCHAR(150),
    @password_hash NVARCHAR(255),
    @rol NVARCHAR(50)
AS
BEGIN
    INSERT INTO usuarios (nombre, email, password_hash, rol, activo)
    VALUES (@nombre, @email, @password_hash, @rol, 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_alertas]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR ALERTAS
CREATE PROCEDURE [dbo].[sp_listar_alertas]
AS
BEGIN
    SELECT a.id_alerta, e.tipo_evento, a.mensaje, a.tipo_canal, a.destinatario, a.fecha_envio, a.entregado
    FROM alertas a
    INNER JOIN eventos e ON a.id_evento = e.id_evento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_eventos]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR EVENTOS
CREATE PROCEDURE [dbo].[sp_listar_eventos]
AS
BEGIN
    SELECT id_evento, tipo_evento, nivel_riesgo, probabilidad, ubicacion, estado, fecha_deteccion, fecha_resolucion
    FROM eventos;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_lecturas]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 🔹 LISTAR LECTURAS DE SENSORES
CREATE PROCEDURE [dbo].[sp_listar_lecturas]
AS
BEGIN
    SELECT l.id_lectura, s.nombre AS sensor, s.tipo_sensor, l.valor, l.unidad_medida,
           l.fecha_lectura, l.integridad_datos
    FROM lecturas_sensores l
    INNER JOIN sensores s ON l.id_sensor = s.id_sensor
    ORDER BY l.fecha_lectura DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_logs_acceso]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 🔹 LISTAR LOGS DE ACCESO
CREATE PROCEDURE [dbo].[sp_listar_logs_acceso]
AS
BEGIN
    SELECT l.id_log, u.nombre AS usuario, l.accion, l.ip_address, l.user_agent, 
           l.fecha_log, l.exito
    FROM logs_acceso l
    LEFT JOIN usuarios u ON l.id_usuario = u.id_usuario
    ORDER BY l.fecha_log DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_logs_sistema]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 🔹 LISTAR LOGS DEL SISTEMA
CREATE PROCEDURE [dbo].[sp_listar_logs_sistema]
AS
BEGIN
    SELECT id_log_sistema, modulo, nivel, mensaje, fecha_log
    FROM logs_sistema
    ORDER BY fecha_log DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_sensores]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR SENSORES
CREATE PROCEDURE [dbo].[sp_listar_sensores]
AS
BEGIN
    SELECT id_sensor, nombre, ubicacion, tipo_sensor, latitud, longitud, activo, fecha_instalacion, fecha_creacion
    FROM sensores;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_usuarios]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR USUARIOS
CREATE PROCEDURE [dbo].[sp_listar_usuarios]
AS
BEGIN
    SELECT id_usuario, nombre, email, rol, activo, fecha_creacion, fecha_actualizacion
    FROM usuarios;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_log_acceso]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 🔹 REGISTRAR LOG DE ACCESO
CREATE PROCEDURE [dbo].[sp_registrar_log_acceso]
    @id_usuario INT,
    @accion NVARCHAR(100),
    @ip_address NVARCHAR(45),
    @user_agent NVARCHAR(MAX),
    @exito BIT
AS
BEGIN
    INSERT INTO logs_acceso (id_usuario, accion, ip_address, user_agent, exito)
    VALUES (@id_usuario, @accion, @ip_address, @user_agent, @exito);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_registrar_log_sistema]    Script Date: 30/10/2025 05:24:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 🔹 REGISTRAR LOG DEL SISTEMA
CREATE PROCEDURE [dbo].[sp_registrar_log_sistema]
    @modulo NVARCHAR(100),
    @nivel NVARCHAR(20),
    @mensaje NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO logs_sistema (modulo, nivel, mensaje)
    VALUES (@modulo, @nivel, @mensaje);
END;
GO
